[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fxl"]
	path = fxl
	url = https://github.com/miyamot0/fxl
[submodule "ggsced"]
	path = ggsced
	url = https://github.com/miyamot0/ggsced
